.report-container{
    width: 100%;
    height: 100%;
    .adviser-tabs{
        position: absolute;
        top: 90px;
        left: 0;
        bottom: 0;
        right: 0;
        .content{
            
            .report-item{
                padding: 20px 30px;
                display: flex;
                flex-flow: row;
                border-bottom: 1px solid #E6E6E6;
                .report-pic{
                    width: 342px;
                    height: 242px;
                    border-radius: 4px;
                    margin-right: 20px;
                    image{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
                .report-info{
                    width: 348px;
                    display: flex;
                    flex-flow: column;
                    justify-content: space-between;
                    .report-top{
                        width: 238px;
                        height: 67px;
                        display: flex;
                    flex-flow: column;
                    justify-content: space-between;
                        // display: inherit;
                        .report-name,.report-target{
                            font-size:24px;
                            font-weight:400;
                            color:rgba(0,0,0,1);
                            line-height:24px;
                        }
                    }
                    .report-des{
                        display: flex;
                        flex-flow: row;
                        justify-content: space-between;
                        .report-time{
                            font-size:24px;
                            font-weight:400;
                            color:rgba(40,40,40,1);
                        }
                        .report-date{
                            font-size:20px;
                            font-weight:400;
                            color:rgba(119,119,119,1);
                        }
                    }
                }
            }
        }
    }
}