// $base-color:#EC711F;
$border-color:#D8D8D8;
$base-color:#000;
$b-r:10px;
$btn-bgcolor:#993333;
$white:#fff;
$base-url:"http://10.6.52.35:8081/img";
.margin-con{
    height: 20px;
    background: #F4F4F4;
}
.base-btn{
    background: $btn-bgcolor;
    color: $white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}