
@import './assets/base.scss';

page{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.at-list__item {
    padding-left: 30px !important;
    &:after{
        // left: 0 !important;
        // border-bottom:none!important;
    }
    .item-content__info-title{
        font-size: 28px;
        color: $base-color !important;
        font-weight:400;
    }
}
.at-list{
    &:after{
        border:none!important;
    }
}
.tabs-con{
    .at-tabs__header{
        background-color:#fff !important;
        border-bottom: 1px solid #ccc;
        display: flex;
        flex-flow: row;
        height: 77px;
        padding: 0;
    }
    .at-tabs__item{
        color: #ccc !important;
        // flex: 1;
        width:25%;
        padding:0;
        text-align:center;
        align-items:center;
        // align-content:center;
        justify-content: center;
        height:100%;
        display: flex;
        float: left;
    }
    .at-tabs__item--active{
        color: #000000 !important;
    }
    .tab-order-list{
        background: transparent !important;
    }
}

.at-tabs__header{
    background-color:#282828 !important;
}
.at-tabs__item--active,.at-tabs__item{
    color: $white !important;
}
.at-tabs__item-underline{
    background-color:$white !important;
    bottom: 2px !important;
}
.at-tabs__body{
    height: calc(100% - 86px) !important;
    position: relative;
}
.at-tabs-pane{
    height: 100% !important;
}
.at-modal__content{
    text-align: center;
}
.submit-btn{
    width:690px !important;
    height:88px!important;
    background:rgba(153,51,51,1)!important;
    border-radius:8px !important;
    line-height: 88px !important;
    border:none !important;
}
.at-textarea{
    border-style:none none solid none !important;
    padding: 30px !important;
}

.select-icon{
    width: 66px;
    height: 66px;
    margin: 0 13px;
    background-size: cover;
}
.select{
    background-image: url('http://10.6.52.35:8083/img/cart/select.png');
}
.select-no{
    background-image: url('http://10.6.52.35:8083/img/cart/select_no.png');
}