
@import './assets/base.scss';
.at-list__item {
    padding-left: 30px !important;
    .item-content__info-title{
        font-size: 28px;
        color: $base-color !important;
        font-weight:400;
    }
}