
@import './assets/base.scss';
.at-list__item {
    padding-left: 30px !important;
    &:after{
        // left: 0 !important;
        // border-bottom:none!important;
    }
    .item-content__info-title{
        font-size: 28px;
        color: $base-color !important;
        font-weight:400;
    }
}
.at-list{
    &:after{
        border:none!important;
    }
}
.at-tabs__header{
    background-color:#282828 !important;
}
.at-tabs__item--active,.at-tabs__item{
    color: $white !important;
}
.at-tabs__item-underline{
    background-color:$white !important;
    bottom: 2px !important;
}
.at-tabs__body{
    height: calc(100% - 86px) !important;
    position: relative;
}
.at-tabs-pane{
    height: 100% !important;
}